<app-navbar></app-navbar>
<img src="../../../assets/images/contact.png" alt="contact" />
<div class="container">
  <div class="title">Contact Us</div>
  <div class="body">
    <div class="info-container">
      <div class="text-container">
        <p>
          <span class="material-icons-outlined"> location_on </span>
          17th Avenue, Michigan.
        </p>
        <p>
          <span class="material-icons-outlined"> call </span> + 1 800 903 9302
        </p>
        <p>
          <span class="material-icons-outlined"> email </span>
          sales@in&out.com
        </p>
      </div>
      <div class="map"></div>
    </div>
    <div class="form">
      <form>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="Name"
            aria-describedby="Full Name"
            placeholder="Full Name"
            formControlName="Name"
          />
          <input
            type="text"
            class="form-control"
            name="Phone"
            aria-describedby="Phone Number"
            placeholder="Phone Number"
            formControlName="Phone"
          />
          <input
            type="email"
            class="form-control"
            name="Email"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            formControlName="Email"
          />
        </div>

        <div class="button-container">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <div class="social">
    <img src="../../../assets/images/Instagram.png" alt="Instagram" />
    <img src="../../../assets/images/Facebook.png" alt="Facebook" />
    <img src="../../../assets/images/WhatsApp.png" alt="WhatsApp" />
  </div>
</div>
