<div id="poster" class="container">
  <img src="../../../assets/images/poster-black.webp" alt="bg" data-aos="fade-right" data-aos-offset="500"
    data-aos-duration="1500" />

  <!-- <video autoplay muted loop id="myVideo">
    <source
      src="https://firebasestorage.googleapis.com/v0/b/in-and-out-dumpsters.appspot.com/o/comercial%20in%20%26%20Out%20dumpster_2.correctomp4%20reduced.mp4?alt=media&token=0b932525-25c3-4b2f-a283-a1ffee4614df"
      type="video/mp4">
    Your browser does not support HTML5 video.
  </video> -->
  <video *ngIf="innerWidth>600" autoplay muted loop id="video">
    <source src="../../../assets/videos/intro.mp4" type="video/mp4">
  </video>

  <img src="../../../assets/images/CONTAINER-NEGRO.webp" alt="bg" />

  <div class="info-container">
    <div class="title1">{{data.title1}}</div>
    <div class="title2">{{data.title2}}</div>
    <div class="subtitle">
      {{data.subtitle}}
    </div>
    <a [routerLink]="['/contact']" class="button">{{data.button}}</a>
  </div>
</div>