<div id="poster" class="container">
  <img src="../../../assets/images/CONTAINER NEGRO.jpg" alt="bg"  data-aos="fade-right"  data-aos-offset="500"
     data-aos-duration="1500"/>
  <div class="info-container"  data-aos="fade-right" data-aos-offset="500" 
     data-aos-duration="1500">
    <div class="title1">{{data.title1}}</div>
    <div class="title2">{{data.title2}}</div>
    <div class="subtitle">
      {{data.subtitle}}
    </div>
    <a [routerLink]="['/contact']" class="button">{{data.button}}</a>
  </div>
</div>
