$poster-widt: 100vw;
$logo-separation : 33px;
$video-width-ratio: 0.46875;

.container,
img {
  width: $poster-widt;
  min-height: 200px;
  height: 60vh;

  @media screen and (max-width: 600px) {
    min-height: 300px;
    height: 300px;

  }
}

.container {
  background-color: black;
  margin-bottom: -2px;
  position: relative;
}

#video {
  position: absolute;
  top: -11%;
  right: 14px;
  height: 112%;
  width: auto;
  z-index: 0;
}

#video-small {
  position: relative;
  // position: absolute;
  // top: calc(-20px + 35vw);
  // right: 0px;
  width: 100%;
  height: 100%;

}

img {
  clip-path: polygon(calc(100% - 121vh) 0, calc(100% - 118vh) 50%, calc(100% - 121vh) 100%, 0 100%, 0 0);
  position: absolute;
  left: 0;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-fill-mode: backwards;
}


.info-container {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - $logo-separation);
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: $logo-separation;
  margin-left: 8vmin;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-fill-mode: backwards;
}

//fade-in animation
@keyframes fade-in {
  0% {
    opacity: 0;
    left: -500px;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

.title1,
.title2,
.subtitle {
  color: white;
}

.title1 {
  font-size: 5vmin;
  text-transform: uppercase;
  font-family: "EgyptienneLight";
  margin-bottom: -3vmin;
}


.title2 {
  font-size: 12vmin;
  text-transform: uppercase;
}

.subtitle {
  font-size: 3vmin;
  width: 80%;
  font-family: "EgyptienneLight";
  margin-bottom: 5vmin;
}

@media screen and (max-width: 1700px) {
  .title1 {
    font-size: 4vmin;
    margin-bottom: -2vmin;
  }

  .title2 {
    font-size: 9vmin;
  }

  .subtitle {
    font-size: 2vmin;
    max-width: 60%;
  }
}

@media screen and (max-width: 1300px) {
  .title1 {
    font-size: 4vmin;
    margin-bottom: -2vmin;
  }

  .title2 {
    font-size: 9vmin;
  }

  .subtitle {
    font-size: 2vmin;
    max-width: 60%;
  }

  .info-container {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: $logo-separation;
  }


}

@media screen and (max-width: 900px) {
  #video {
    transform: translateX(25vw);
  }
}

@media screen and (max-width: 600px) {
  #video {
    display: none;
  }

  img {
    clip-path: none;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info-container {
    background-color: transparent;
    position: relative;
    width: calc(100% - 20vmin);
    margin: 0;
  }

  .title1 {
    font-size: 1rem;
    margin-bottom: -2vmin;
  }

  .title2 {
    font-size: calc(15px + 10vw);
  }

  .subtitle {
    font-size: 1rem;
  }
}



.button {
  margin-left: 3%;
  background-color: var(--green);
  border: none;
  padding: 1.6% 4%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(0.8rem + 0.3vw);
  color: var(--gray);
  animation: shake 0.8s linear infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  font-family: "EgyptienneBold";
  min-width: 80px;
}

.button:hover {
  animation: none;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(1deg);
  }

  20% {
    transform: rotate(0deg);
  }

  30% {
    transform: rotate(-1deg);
  }

  40% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(0deg);
  }

  60% {
    transform: rotate(0deg);
  }

  70% {
    transform: rotate(-2deg);
  }

  80% {
    transform: rotate(0deg);
  }

  90% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}