.container {
  position: relative;
  height: 40vw;
  min-height: 400px;
  background-color: var(--green);
  top: 0;
  left: 0;
}

img {
  height: 40vw;
  min-height: 400px;
  width: 100%;
  z-index: -1;
  clip-path: polygon(45% 0, 55% 55%, 45% 100%, 0 100%, 0 0);
}

.info-container {
  position: absolute;
  top: 0%;
  left: 0%;
  padding-left: 8vw;
  padding-top: 10vw;
}

.title1,
.title2,
.subtitle {
  color: white;
}
.title1 {
  font-size: 3vw;
  text-transform: uppercase;
  font-family: "EgyptienneLight";
  margin-bottom: -2vw;
}
.title2 {
  font-size: 7vw;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.subtitle {
  font-size: 1.7vw;
  width: 40%;
  font-family: "EgyptienneLight";
  margin-bottom: 40px;
}

.button {
  margin-left: 3%;
  background-color: var(--green);
  border: none;
  padding: 1.6% 4%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6vw;
  color: var(--gray);
  animation: shake 0.8s linear infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  font-family: "EgyptienneBold";
}

.button:hover {
  animation: none;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(1deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-1deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-2deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 580px) {
  .container {
    height: 60vw;
    max-height: 60vw;
    min-height: 60vw;
    width: 100%;
  }
  img {
    height: 60vw;
    min-height: 60vw;
    min-height: 60vw;
    width: 100%;
    z-index: -1;
    clip-path: none;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title1,
  .title2,
  .subtitle {
    color: white;
    width: 100%;
  }
  .title1 {
    font-size: 6vw;
    margin-bottom: -2vw;
  }
  .title2 {
    font-size: 9vw;
    margin-bottom: 10px;
  }
  .subtitle {
    font-size: 3vw;
    width: 70%;
    margin-bottom: 20px;
  }

  .button {
    font-size: 4vw;
    width: 70%;
  }
}

