<div id="poster" class="container">
  <img src="../../../assets/images/CONTAINER NEGRO.jpg" alt="bg" />
  <div class="content">
    <p class="title">About Us</p>
    <p class="text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Amet mollit dolor culpa est do voluptate sint Lorem exercitation. Nisi non laborum Lorem qui voluptate laboris eu fugiat deserunt. Magna ex dolor sint officia velit minim sit deserunt proident Lorem. Sit sunt consequat exercitation culpa sunt laborum ipsum cupidatat aute anim id. Minim nulla nisi sint in proident fugiat ad tempor consequat veniam excepteur excepteur excepteur. Dolore officia tempor tempor mollit voluptate anim.

    </p>

  </div>
</div>
