.container {
  position: relative;
  height: 40vw;
  min-height: 400px;
  background-color: var(--green);
  top: -5px;
  left: 0;
  width: 100%;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 70%;
  z-index: 2;
  border-radius: 40px;
  background-color: orange;
}

img {
  height: 40vw;
  min-height: 400px;
  width: 100%;
  z-index: -1;
  clip-path: polygon(45% 0, 55% 55%, 45% 100%, 0 100%, 0 0);
}

.title,
.text {
  position: absolute;
  left: 5%;
  color: white;
}
.title {
  top: 7%;
  font-size: 5vw;
  text-align: center;
  width: 100%;
}

.text {
  top: 37%;
  font-size: 1.7vw;
  width: 90%;
}

