.container {
  position: relative;
  height: 100%;
  min-height: 400px;
  background-color: var(--green);
  top: -5px;
  left: 0;
  width: 100%;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 70%;
  z-index: 2;
  border-radius: 40px;
  background-color: orange;
  animation: fade 1.5s 1;
}

img {
  height: 100vh;
  min-height: 400px;
  width: 100%;
  z-index: -1;
  clip-path: polygon(45% 0, 55% 55%, 45% 100%, 0 100%, 0 0);
}

.title,
.text {
  position: absolute;
  left: 5%;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.63);
  animation: appear 2s 1;
}
.title {
  top: 7%;
  font-size: 5vw;
  text-align: center;
  width: 100%;
}

.text {
  top: 37%;
  font-size: 1.7vw;
  width: 90%;
}

@media screen and (max-width: 580px) {
  .content {
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    height: 70%;
    z-index: 2;
    border-radius: 40px;
    background-color: orange;
  }

  img {
    clip-path: none;
  }

  .title,
  .text {
    left: 0%;
  }
  .title {
    top: 4%;
    font-size: 7vw;
  }
  .text {
    top: 15%;
    left: 5%;
    font-size: 4vw;
  }
}

@keyframes appear {
  from {
    transform: translate(-1000px);
    opacity: 0;
  }
  to {
    transform: translate(0px);
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
