<app-navbar (languageEmitter)="onLanguageChange($event)" [data]="navbar"></app-navbar>
<div class="container">
  <div class="title">{{data.title}}</div>
  <div class="body">
    <div class="info-container">
      <div class="text-container">
        <p>
          <img class="icon" src="../../../assets/images/MAP_ICON.png" alt="address">
          7232 Navy St Detroit MI 48209
        </p>
        <p>
          <img class="icon" src="../../../assets/images/phone-call.png" alt="phone">
          <a href="tel:3136875834"> +1 313 6875 834</a>
        </p>
        <p>
          <img class="icon" src="../../../assets/images/CORREO_ICON.png" alt="email">
          <a href="mailto:sales@in&out.com">sales@in&out.com</a>
        </p>
      </div>
    </div>

    <div class="form">
      <form>
        <div class="form-group">
          <input type="text" class="form-control" name="Name" aria-describedby="Full Name" placeholder="{{data.name}}"
            formControlName="Name" />
          <input type="text" class="form-control" name="Phone" aria-describedby="Phone Number"
            placeholder="{{data.phone}}" formControlName="Phone" />
          <input type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="{{data.mail}}"
            formControlName="Email" />
        </div>

        <div class="button-container">
          <button type="submit" class="btn btn-primary">{{data.button}}</button>
        </div>
      </form>
    </div>
    <div class="map-container">
      <!-- <img class="map" src="../../../assets/images/map-gray.png" alt=""> -->
      <div class="mapouter">
        <div class="gmap_canvas"><iframe width="904" height="500" id="gmap_canvas"
            src="https://maps.google.com/maps?q=7232%20Navy%20St%20Detroit%20MI%2048209&t=&z=11&ie=UTF8&iwloc=&output=embed"
            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
            href="https://123movies-a.com"></a><br>
          <style>
            .mapouter {
              position: relative;
              text-align: right;
              max-height: 600px;
              max-width: 1000px;
              width: 90vw;
              height: auto;
            }

            <style>.gmap_canvas {
              overflow: hidden;
              background: none !important;
              max-height: 600px;
              max-width: 1000px;
              width: 90vw;
              height: auto;
            }
          </style>
        </div>
      </div>
    </div>
  </div>
  <div class="social">
    <img src="../../../assets/images/Instagram.png" alt="Instagram" />
    <img src="../../../assets/images/Facebook.png" alt="Facebook" />
  </div>
</div>