img {
  width: 100%;
}

.container {
  color: var(--orange);
  margin-top: 10vh;
}

.title {
  font-size: 3vw;
  text-align: center;
  animation: appear-op 2s 1;
  font-family: "EgyptienneBold";
}

.body {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.info-container {
  font-size: 2vw;
  text-align: right;
  font-family: "EgyptienneRegular" !important;
  margin: 2vw;
  animation: appear-left 1s 1;
}

.form {
  margin: 2vw;
  animation: appear-right 1s 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  margin: 2.5% 0px;
  width: 35vw;
  background-color: rgb(235, 235, 235);
  border: none;
  padding: 10px;
  font-size: 1.3vw;
  color: var(--orange);
  font-family: "EgyptienneRegular" !important;
}

input::placeholder {
  color: var(--orange);
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  background-color: var(--orange);
  /* Green */
  border: none;
  color: white;
  margin-top: 5%;
  padding: 0.7vw 10vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-family: "EgyptienneBold";
  cursor: pointer;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

.social {
  position: fixed;
  width: 100vw;
  right: 5px;
  bottom: 15px;
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: right;

  img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
}

.material-icons-outlined {
  display: inline-flex;
  vertical-align: middle;
}

.icon {
  margin-bottom: -1px;
  margin-right: 10px;
  height: 1.7vw;
  width: auto;
}

.map-container {
  margin-top: 40px;
  margin-bottom: 10%;
}

.map {
  width: 90vw;
  height: auto;
}

.bottom {
  display: flex;
  flex-direction: column
}

@media screen and (max-width: 580px) {
  .body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-size: 7vw;
  }

  .map {
    width: 90vw;
  }

  .icon {
    margin-bottom: 2px;
    margin-right: 10px;
    height: 3.5vw;
    width: auto;
  }

  .info-container {
    font-size: 4vw;
    text-align: center;
    margin: 2vw;
  }

  input {
    width: 45vw;
    padding: 6px;
    font-size: 4vw;
  }

  .social {
    img {
      width: 32px;
      height: 32px;
      margin-right: 10px;
    }
  }
}

@keyframes appear-left {
  from {
    transform: translate(-500px);
    opacity: 0;
  }

  to {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes appear-right {
  from {
    transform: translate(500px);
    opacity: 0;
  }

  to {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes appear-op {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}