.container {
  position: relative;
  width: 100%;
  min-height: 400px;
  left: 0;
  height: calc(100% - 69px);
  background-color: var(--green);
  overflow: hidden;
  margin-top: -100px;
}



.content,
.content-sm {
  background-color: orange;
  z-index: 2;
  position: absolute;
  top: 20%;
  left: 15%;
  width: 70%;
  height: 40vw;
  display: block;
}

.content-sm {
  display: none;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.title,
.text {
  left: 5%;
  color: white;
}

.title {
  font-size: 4vw;
  text-align: center;
  margin: 18px;
  margin-bottom: 5px;
  font-family: "EgyptienneBold";
}

.title::first-letter {
  text-transform: capitalize;
}

.text {
  margin: 0;
  padding-left: 5vw;
  padding-right: 1vw;
  font-size: 1.6vw;
  text-align: justify;
  line-height: 140%;
  width: 80%;

  @media screen and (max-width: 768px) {
    width: 60%;
  }

}

.bg {
  height: 104vh;
  min-height: 400px;
  width: 100%;
  z-index: -1;
  margin-bottom: -4px;
}

.profile {
  height: auto;
  width: 50%;
  margin-bottom: 20px;
}

@media screen and (max-width: 950px) {
  .text {
    font-size: 120%;
    margin: 0;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 80%;
    text-align: justify;
    line-height: 140%;
  }

  .profile {
    height: 20vw;
    width: auto;
  }

  .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .content,
  .content-sm {
    height: calc(100% - 90vw);
  }
}

@media screen and (max-width: 580px) {

  .content,
  .content-sm {
    position: absolute;
    top: 17%;
    left: 15%;
    width: 70%;
    height: 60%;
  }

  .profile {
    margin-left: 50px;
    margin-top: 20px;
    width: 20vh;
    height: auto;
  }

  img {
    clip-path: none;
  }

  .info {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
  }

  .title,
  .text {
    left: 0%;
  }

  .title {
    top: 4%;
    font-size: 7vw;
  }

  .text {
    margin: 0;
    padding-left: 5vw;
    padding-right: 1vw;
    font-size: 100%;
    width: 90%;
    text-align: justify;
    line-height: 140%;
  }
}

@media screen and (max-width: 580px) {

  .content,
  .content-sm {
    height: 74%;
  }

  .container {
    overflow-y: scroll;
  }

  .bg {
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 400px) {
  .text {
    font-size: 80%;
  }

  .bg {
    margin-bottom: 36px;
    margin-top: 40px;
    height: 100vh;
    width: auto;
  }

  .content {
    display: none;
  }

  .content-sm {
    display: block;
  }

}