$galery-height: 600px;

.container {
  margin-top: -5px;
  position: relative;
  height: 40vw;
  min-height: $galery-height;
  background-color: orange;
  top: 0;
  left: 0;
  color: white;
}

.bg {
  height: 50vw;
  min-height: $galery-height;
  width: 100%;
  z-index: -1;
}

.content {
  position: absolute;
  top: 5%;
  width: 100%;
}

.title-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 3vw;
}

.subtitle {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 2%;
  margin-bottom: 5%;
  font-weight: 100;
}

.items-container {
  display: flex;
  justify-content: space-around;
}

.button {
  background-color: var(--green);
  border: none;
  padding: 1.6% 4%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6vw;
  color: var(--gray);
}

.center {
  margin-top: 80px;
  margin-left: 50%;
  transform: translate(-50%,0);
}
