<div id="gallery" class="container">
  <div class="content">
    <div class="title-container">
      <h1 data-aos="fade-up" data-aos-duration="1500" class="title">{{data.title}}</h1>
      <p data-aos="zoom-in" data-aos-duration="1500" class="subtitle">
        {{data.subtitle}}
      </p>
    </div>

    <div class="items-bg">
      <div class="items-container">
        <app-galery-item *ngFor="let item of data.dumpsters;let i = index" class="zoom item" price="{{item.price}}"
          index="{{i}}" model="{{item.model}}"></app-galery-item>
      </div>
    </div>

    <div class="gallery-footer">
      <a *ngIf="data.dumpsters.length>6" class="button zoom" (click)="activate()">View More</a>
      <div class="panel" [class.active]="active">
      </div>
      <p class="more-info" data-aos="zoom-in" data-aos-duration="1500">
        {{data.moreInfo}}
      </p>
      <div class="blanc"> </div>
    </div>

  </div>
</div>