<div id="gallery" class="container">
  <!-- <img
    class="bg"
    src="../../../assets/images/CONTAINER NARANJA_LARGO.jpg"
    alt="bg"
  /> -->
  <div class="content">
    <div class="title-container">
      <h1 data-aos="fade-up" data-aos-duration="1500" class="title">{{data.title}}</h1>
      <h3 data-aos="zoom-in" data-aos-duration="1500" class="subtitle">
        {{data.subtitle}}
      </h3>
    </div>
    <div class="items-container">
      <app-galery-item *ngFor="let item of data.dumpsters"
        class="zoom item"
        price="{{item.price}}"
        model="{{item.model}}"
      ></app-galery-item>
    </div>
    <a class="button zoom" (click)="activate()">View More</a>
    <div class="panel" [class.active]="active">
      <h3 data-aos="zoom-in" data-aos-duration="1500" class="subtitle">
        {{data.moreInfo}}
      </h3>
    </div>
  </div>
</div>
