$galery-height: 500px;

.container {
  margin-top: -10px;
  position: relative;
  height: 40vw;
  min-height: $galery-height;
  background-color: orange;
  top: 0;
  left: 0;
  color: white;
}

.bg {
  height: 50vw;
  min-height: $galery-height;
  width: 100%;
  z-index: -1;
}

.content {
  position: absolute;
  top: 15%;
  width: 100%;
}

.title-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 3vw;
}

.subtitle {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 2%;
  margin-bottom: 5%;
  font-weight: 100;
}

.items-container {
  display: flex;
  justify-content: space-around;
}
