<div class="container">
  <img
    class="bg"
    src="../../../assets/images/CONTAINER NARANJA_LARGO.jpg"
    alt="bg"
  />
  <div class="content">
    <div class="title-container">
      <h1 class="title">Gallery</h1>
      <h4 class="subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </h4>
    </div>
    <div class="items-container">
      <app-galery-item description="From $200 to $300"></app-galery-item>
      <app-galery-item description="From $400 to $500"></app-galery-item>
      <app-galery-item description="From $500 to $600"></app-galery-item>
    </div>
  </div>
</div>
