/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Egyptienne";
  src: url("./assets/fonts/EgyptienneStdMedium.ttf") format("truetype");
}

$gray: #494949;
:root {
  --gray: #{$gray};
  --green: #cff800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Egyptienne";
}
